h1 {
    text-align: center;
    color: #090088;
    font-weight: normal;
    font-family: Calibri;
}
.card{
    padding-top: 10px;
    text-align: center;
}

#main {
    margin-top: 90px;
    margin-bottom: 220px;
}
